<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Ride Details</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Ride Details</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row" *ngFor="let data of rideData">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-2">
                                <h3>Booking Details</h3>
                            </div>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="form-group row" *ngIf="data.ride.status == 3 && this.appservice.role == 'partner'">
                                            <label for="staticEmail" class="col-sm-4 col-form-label">Before Ride Start Pay Advance</label>
                                            <div class="col-sm-3">
                                                <input type="text" [(ngModel)]="is_advance_pay" class="form-control">
                                            </div>
                                            <button type="button" (click)="advancepay()" class="btn btn-primary col-sm-2">Pay Advance</button>
                                            <button style="margin-left:15px;" class="btn btn-danger" (click)="canceladvancepay()">Cancel Ride</button>
                                        </div>
                                        <div class="form-group row" *ngIf="data.ride.status == 1 && this.appservice.role == 'admin'">
                                            <label for="staticEmail" class="col-sm-2 col-form-label">Assign Driver</label>
                                            <div class="col-sm-4">
                                                <select class="form-control" name="driver_id" [(ngModel)]="driver_id">
                                                  <option value="">Select</option>
                                                  <option *ngFor="let data of driverData" [value]="data.driver_id">{{data.name}}</option>
                                                </select>
                                            </div>
                                            <label for="staticEmail" class="col-sm-2 col-form-label">Driver Fare</label>
                                            <div class="col-sm-2">
                                                <input type="text" [(ngModel)]="driver_fare" class="form-control">
                                            </div>
                                            <button type="button" (click)="assignDriver()" class="btn btn-primary col-sm-2">Submit</button>
                                        </div>
                                        <div class="row" *ngIf="(data.ride.status == 5 || data.ride.status == 4) && this.appservice.role == 'admin'">
                                            <div class="col-sm-6">
                                                <form [formGroup]="RideCarImgDocumentForm" enctype="multipart/form-data" (ngSubmit)="uploadRideImg(data.ride.status)">
                                                    <div class="form-group row">
                                                        <div class="col-sm-9">
                                                            <input class="form-control" type="file" name="ride_img" formControlName="ride_img" (change)="onFileSelect($event)" multiple>
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <button type="submit" class="btn btn-primary">Upload</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-sm-6" *ngIf="data.ride.status == 4 && this.appservice.role == 'admin' && data.ride.bookingtype=='Trailer'">
                                                <!--  && data.bookingtype=='Trailer' -->
                                                <form [formGroup]="getExistingPointForm" (ngSubmit)="submitExistingPoint()">
                                                    <div class="form-group row">
                                                        <div class="col-sm-9" style="margin-top: 10px;">
                                                            <label class="radio-inline">
                                                                <input type="radio" name="existingpoint" formControlName="existingpoint" value="1" checked>Existing Point 1
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio" name="existingpoint" formControlName="existingpoint" value="2">Existing Point 2
                                                            </label>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <button class="btn btn-primary" type="submit" [disabled]="!getExistingPointForm.valid">Submit</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-sm-6" *ngIf="data.ride.status == 4 && this.appservice.role == 'admin' && data.ride.bookingtype=='Driver'">
                                                <!--  && data.bookingtype=='Trailer' -->
                                                <form [formGroup]="getExistingPointForm" (ngSubmit)="submitExistingPoint()">
                                                    <div class="form-group row">
                                                        <div class="col-sm-9" style="margin-top: 10px;">
                                                            <label class="radio-inline">
                                                                <input type="radio" name="existingpoint" formControlName="existingpoint" value="1" checked>Pickup Point
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio" name="existingpoint" formControlName="existingpoint" value="2">Drop Point
                                                            </label>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <button class="btn btn-primary" type="submit" [disabled]="!getExistingPointForm.valid">Submit</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div *ngIf="data.ride.status == 4 && this.appservice.role == 'admin' && isExistPartkingDiv">
                                            <form [formGroup]="reAssignDriverForm" (ngSubmit)="submitReAssignDriver()">
                                                <div class="form-group row">
                                                    <div class="col-sm-3">
                                                        <label for="staticEmail" class="col-form-label">City</label>
                                                        <input type="text" formControlName="city" class="form-control">
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <label for="staticEmail" class="col-form-label">Time</label>
                                                        <input type="time" formControlName="time" class="form-control">
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <label for="staticEmail" class="col-form-label">ReAssign Driver</label>
                                                        <select class="form-control" name="driver_id" formControlName="driver_id" 
                                                        (change)="getDriverName($event)">
                                                            <option *ngFor="let data of driverData" value="{{data.driver_id}}|{{data.name}}">{{data.name}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-3" style="margin-top:33px;">
                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 text-right">
                                        <button *ngIf="data.ride.status == 2 && this.appservice.role == 'admin'" class="btn btn-primary" (click)="startride()">Start Ride</button>
                                        <button *ngIf="data.ride.status == 3 && this.appservice.role == 'admin'" class="btn btn-primary" (click)="reachedpickup()">Reached Pickup Location</button>
                                        <button *ngIf="data.ride.status == 4 && this.appservice.role == 'admin'" class="btn btn-primary" (click)="reacheddrop()">Reached Drop Location</button>
                                        <button *ngIf="data.ride.status == 5 && this.appservice.role == 'admin'" class="btn btn-primary" (click)="paymentdone()">Ride Payment Done</button>
                                        <button *ngIf="data.ride.status == 6 && this.appservice.role == 'admin'" class="btn btn-primary" (click)="completedride(completeRide)">Complete Ride</button>
                                        <button *ngIf="data.ride.status == 1" style="margin-left:15px;" class="btn btn-danger" (click)="cancelledride(cancelRide)">Cancel Ride</button>
                                        <h3 *ngIf="data.ride.status == 7" style="color: green;font-weight: bold;">Ride Completed</h3>
                                        <h3 *ngIf="data.ride.status == 8" style="color: red;font-weight: bold;">Ride Cancelled</h3>
                                        <h3 *ngIf="data.ride.status == 9" style="color: red;font-weight: bold;">Request For Trailer Ride</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-header" *ngIf="this.appservice.role == 'admin' && data.ride.status < 6">
                        <div class="row" >
                            <div class="col-sm-3">
                                <h3>Change PickUp Or Drop Address</h3>
                            </div>
                            <div class="col-sm-9">
                                <form [formGroup]="RideAddrChangeForm" (ngSubmit)="saveRideAddrChange()">
                                    <div class="row">
                                        <div class="col-sm-4" style="margin-top: 10px;">
                                            <label class="radio-inline">
                                                <input type="radio" name="address_type" formControlName="address_type" value="pickup" checked>  Pickup Address
                                            </label>
                                            <label class="radio-inline" style="margin-left: 5px;">
                                                <input type="radio" name="address_type" formControlName="address_type" value="drop">   Drop Address
                                            </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" name="address" formControlName="address" class="form-control" placeholder="Enter Address">
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="submit" class="btn btn-primary">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-header">
                        <div class="row" *ngIf="(data.ride.status == 5 || data.ride.status == 4) && this.appservice.role == 'admin' && data.ride.accident_status == null">
                            <div class="col-sm-3">
                                <h3>Upload Accidental Image Or Videos</h3>
                            </div>
                            <div class="col-sm-9">
                                <form [formGroup]="RideAccidentalImgForm" enctype="multipart/form-data" (ngSubmit)="uploadRideAccidentalImg()">
                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            <input class="form-control" type="file" name="ride_accidental_img" formControlName="ride_accidental_img" (change)="onFileSelect2($event)" multiple>
                                        </div>
                                        <div class="col-sm-7">
                                            <input class="form-control" type="text" name="ride_accidental_comment" formControlName="ride_accidental_comment" placeholder="Comment">
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="submit" class="btn btn-primary">Upload</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row" *ngIf="data.ride.accident_status == null && (accidentImgList.length > 0 || accidentVideoList.length > 0)">
                            <div class="col-sm-12">
                                <p style="color: red;" *ngIf="data.ride.accident_status == 0"> Waiting For Approval from Partner for Accidental Images And Videos</p>
                            </div>
                        </div>
                        <div class="row" *ngIf="data.ride.accident_status != null">
                            <div class="col-sm-12">
                                <p style="color: red;" *ngIf="data.ride.accident_status == 0">Accidental Images And Videos Rejected By partner</p>
                                <p style="color: green;" *ngIf="data.ride.accident_status == 1">Accidental Images And Videos Approved By partner</p>
                            </div>
                        </div>
                        <div class="row" *ngIf="(accidentImgList.length > 0 || accidentVideoList.length > 0) && this.appservice.role == 'partner' && data.ride.accident_status == null">
                            <div class="col-sm-4"><h3>Please Check Videos Or Images</h3></div>
                            <div class="col-sm-2">
                                <form [formGroup]="sendRideAccidentImgVideoApproveForm" (ngSubmit)="sendRideAccidentImgVideoApproveSubmit()">
                                    <p class="text-center">
                                    <button type="submit" class="btn btn-primary">Approve</button>
                                    </p>
                                </form>
                            </div>
                            <div class="col-sm-6">
                                <form [formGroup]="sendRideAccidentImgVideoRejectForm" (ngSubmit)="sendRideAccidentImgVideoRejectSubmit()">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="text-center">
                                                <input class="form-control" type="text" name="accident_remark" formControlName="accident_remark" placeholder="Please Enter Rejection Reason">
                                            </p>
                                        </div>
                                        <div class="col-sm-2">
                                            <p class="text-center">
                                                <button type="submit" class="btn btn-danger">Reject</button>
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <p><b>Booking Id</b>: {{data.ride.ride_id}}</p>
                            </div>
                            <div class="col-sm-4">
                                <p><b>Booking Type</b>: {{data.ride.bookingtype}}</p>
                            </div>
                            <div class="col-sm-4">
                                <p><b>User Name</b>: {{data.customer.name}}</p>
                            </div>
                            <div class="col-sm-4">
                                <p><b>User Phone No.</b>: {{data.customer.phone}}</p>
                            </div>
                            <div class="col-sm-12" *ngIf="data.ride.driver_fare != null">
                                <p><b>Driver Fare:</b> {{data.ride.driver_fare}}</p>
                            </div>
                            <div class="col-sm-12" *ngIf="data.ride.company_name != null">
                                <p><b>Partner Name:</b>{{data.ride.company_name}}</p>
                            </div>
                            <div class="col-sm-12" *ngIf="data.ride.partner_id != null">
                                <p><b>Partner Id:</b>{{data.ride.partner_id}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" *ngIf="(data.ride.status >= 4) && pickupImgList.length > 0">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-4">
                                <h3>Pickup Images</h3>
                            </div>
                            <div class="col-sm-8 text-right">
                                <button class="btn btn-sm btn-primary" (click)="openModal(openPickup)">Open Pickup Image</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" *ngIf="(data.ride.status >= 4) && dropImgList.length > 0">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-4">
                                <h3>Drop Images</h3>
                            </div>
                            <div class="col-sm-8 text-right">
                                <button class="btn btn-sm btn-primary" (click)="openModal(openDrop)">Open Drop Image</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" *ngIf="accidentImgList.length > 0">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-4">
                                <h3>Accidental Image</h3>
                            </div>
                            <div class="col-sm-8 text-right">
                                <button class="btn btn-sm btn-primary" (click)="openModal(openAccidentalImg)">Open Accidental Image</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" *ngIf="accidentVideoList.length > 0">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-4">
                                <h3>Accidental Video</h3>
                            </div>
                            <div class="col-sm-8 text-right">
                                <button class="btn btn-sm btn-primary" (click)="openModal(openAccidentalVideo)">Open Accidental Video</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <p><b>Outstation Type</b>: {{data.ride.ostype}}</p>
                            </div>
                            <div class="col-sm-12">
                                <p><b>Trip Type</b>: {{data.ride.triptype}}</p>
                            </div>
                            <div class="col-sm-12">
                                <p><b>Fuel type</b>: {{data.ride.fueltype}}</p>
                            </div>
                            <div class="col-sm-12">
                                <p><b>Car No</b>: {{data.ride.car_no}}</p>
                            </div>
                            <div class="col-sm-12">
                                <p><b>Vehicle Type</b>: {{data.ride.vehicle_type}}</p>
                            </div>
                            <div class="col-sm-12">
                                <p><b>Vehicle Transmission</b>: {{data.ride.vehicle_transmission}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <p><b>Pickup Address</b>: {{data.ride.pickupaddress}}</p>
                            </div>
                            <div class="col-sm-12">
                                <p><b>Drop Address</b>: {{data.ride.dropaddress}}</p>
                            </div>
                            <div class="col-sm-12">
                                <p><b>Request Time</b>: {{data.ride.requesttime | date:'dd-MM-yyyy hh:mm:ss'}}</p>
                            </div>
                            <div class="col-sm-12">
                                <p><b>Pickup Time</b>: {{data.ride.pickuptime | date:'dd-MM-yyyy hh:mm:ss'}}</p>
                            </div>
                            <div class="col-sm-12">
                                <p><b>Drop Time</b>: {{data.ride.droptime | date:'dd-MM-yyyy hh:mm:ss'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" *ngIf="data.ride.status == 9 && this.appservice.role == 'admin'">
                <div class="card">
                    <div class="card-body text-center">
                        <div *ngIf="data.ride.status == 9 && data.ride.price == null">
                            <form [formGroup]="sendTrailerFareRideForm" (ngSubmit)="sendTrailerFareRideSubmit()">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="form-group">
                                            <label for="price">Amount </label>
                                            <input class="form-control" type="text" name="price" formControlName="price">
                                        </p>
                                        <p class="form-group">
                                            <label for="gst">GST </label>
                                            <input class="form-control" type="text" name="gst" formControlName="gst">
                                        </p>
                                    </div>
                                    <input type="hidden" class="form-control" name="status" formControlName="status" [(ngModel)]="completedstatus">
                                    <input type="hidden" class="form-control" name="ride_id" formControlName="ride_id" [(ngModel)]="ride_id">
                                </div>
                                <p class="text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                </p>
                            </form>
                        </div>
                        <div *ngIf="data.ride.status == 9 && data.ride.price != null">
                            <p>Requested Trailer Fare is : {{data.ride.price}}</p>
                            <p>GST : {{data.ride.gst}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" *ngIf="data.ride.status == 9 && this.appservice.role != 'admin'">
                <div class="card">
                    <div class="card-body text-center">
                        <div *ngIf="data.ride.status == 9 && data.ride.price == null">
                            <p>Waiting For Trailer Fare..</p>
                        </div>
                        <div *ngIf="data.ride.status == 9 && data.ride.price != null">
                            <p>Requested Trailer Fare is : {{data.ride.price}}</p>
                            <p>GST : {{data.ride.gst}}</p>
                            <div class="row">
                                <div class="col-sm-6">
                                    <form [formGroup]="sendTrailerFareRideApproveForm" (ngSubmit)="sendTrailerFareRideApproveSubmit()">
                                        <p class="text-center">
                                        <button type="submit" class="btn btn-primary">Approve</button>
                                        </p>
                                    </form>
                                </div>
                                <div class="col-sm-6">
                                    <form [formGroup]="sendTrailerFareRideRejectForm" (ngSubmit)="sendTrailerFareRideRejectSubmit()">
                                        <p class="text-center">
                                        <button type="submit" class="btn btn-danger">Reject</button>
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" *ngIf="data.ride.status <=7">
                <div class="card">
                    <div class="card-body text-center">
                        <ul class="StepProgress" *ngIf="data.ride.bookingtype=='Trailer'">
                            <li class="StepProgress-item" [ngClass]="{'is-done': data.ride.status >= 2}"><i>Ride Assign To Driver</i></li>
                            <li class="StepProgress-item" [ngClass]="{'is-done': data.ride.status >= 3}"><i>Ride Started</i></li>
                            <li class="StepProgress-item" [ngClass]="{'is-done': data.ride.status >= 4}"><i>Reached Pickup Location</i></li>
                            <li class="StepProgress-item" [ngClass]="{'is-done': data.ride.status >= 4}"><i>Existing Parcking Point 1</i>
                                <ul class="StepProgress">
                                    <li class="StepProgress-item" *ngFor="let val of reassignDataPoint1" [ngClass]="{'is-done': data.ride.status >= 4}"><i> {{val.city}} | {{val.time}}</i></li>
                                </ul>
                            </li>
                            <li class="StepProgress-item" [ngClass]="{'is-done': data.ride.status >= 4}"><i>Existing Parcking Point 2</i>
                                <ul class="StepProgress" >
                                    <li class="StepProgress-item" *ngFor="let val of reassignDataPoint2" [ngClass]="{'is-done': data.ride.status >= 4}"><i>{{val.city}} | {{val.time}}</i></li> 
                                    <!-- {{val.driver_name}} | -->
                                </ul>
                            </li>
                            <li class="StepProgress-item" [ngClass]="{'is-done': data.ride.status >= 5}"><i>Reached Drop Location</i></li>
                            <li class="StepProgress-item" [ngClass]="{'is-done': data.ride.status >= 6}"><i>Payment Done</i></li>
                            <li class="StepProgress-item" *ngIf="data.ride.status == 7" [ngClass]="{'is-done': data.ride.status == 7}"><i>Ride Completed</i></li>
                            <li class="StepProgress-item" *ngIf="data.ride.status == 8" [ngClass]="{'is-done': data.ride.status == 8}"><i>Ride Cancelled</i></li>
                        </ul>
                        <ul class="StepProgress" *ngIf="data.ride.bookingtype=='Driver'">
                            <li class="StepProgress-item" [ngClass]="{'is-done': data.ride.status >= 2}"><i>Ride Assign To Driver</i></li>
                            <li class="StepProgress-item" [ngClass]="{'is-done': data.ride.status >= 3}"><i>Ride Started</i></li>
                            <li class="StepProgress-item" [ngClass]="{'is-done': data.ride.status >= 4}"><i>Reached Pickup Location</i></li>
                            <li class="StepProgress-item" [ngClass]="{'is-done': data.ride.status >= 4}"><i>Pickup Point</i>
                                <ul class="StepProgress">
                                    <li class="StepProgress-item" *ngFor="let val of reassignDataPoint1" [ngClass]="{'is-done': data.ride.status >= 4}"><i> {{val.driver_name}} | {{val.city}} | {{val.time}}</i></li>
                                </ul>
                            </li>
                            <li class="StepProgress-item" [ngClass]="{'is-done': data.ride.status >= 4}"><i>Drop Point</i>
                                <ul class="StepProgress" >
                                    <li class="StepProgress-item" *ngFor="let val of reassignDataPoint2" [ngClass]="{'is-done': data.ride.status >= 4}"><i> {{val.driver_name}} | {{val.city}} | {{val.time}}</i></li> 
                                    <!-- {{val.driver_name}} | -->
                                </ul>
                            </li>
                            <li class="StepProgress-item" [ngClass]="{'is-done': data.ride.status >= 5}"><i>Reached Drop Location</i></li>
                            <li class="StepProgress-item" [ngClass]="{'is-done': data.ride.status >= 6}"><i>Payment Done</i></li>
                            <li class="StepProgress-item" *ngIf="data.ride.status == 7" [ngClass]="{'is-done': data.ride.status == 7}"><i>Ride Completed</i></li>
                            <li class="StepProgress-item" *ngIf="data.ride.status == 8" [ngClass]="{'is-done': data.ride.status == 8}"><i>Ride Cancelled</i></li>
                        </ul>
                        <ul class="StepProgress" *ngIf="data.ride.bookingtype=='Towing'">
                            <li class="StepProgress-item" [ngClass]="{'is-done': data.ride.status >= 2}"><i>Ride Assign To Driver</i></li>
                            <li class="StepProgress-item" [ngClass]="{'is-done': data.ride.status >= 3}"><i>Ride Started</i></li>
                            <li class="StepProgress-item" [ngClass]="{'is-done': data.ride.status >= 4}"><i>Reached Pickup Location</i></li>
                            <li class="StepProgress-item" [ngClass]="{'is-done': data.ride.status >= 5}"><i>Reached Drop Location</i></li>
                            <li class="StepProgress-item" [ngClass]="{'is-done': data.ride.status >= 6}"><i>Payment Done</i></li>
                            <li class="StepProgress-item" *ngIf="data.ride.status == 7" [ngClass]="{'is-done': data.ride.status == 7}"><i>Ride Completed</i></li>
                            <li class="StepProgress-item" *ngIf="data.ride.status == 8" [ngClass]="{'is-done': data.ride.status == 8}"><i>Ride Cancelled</i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" >
                <div class="card" *ngIf="data.ride.status != 9">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <p><b>Ride Price:</b> {{data.ride.price}}</p>
                            </div>
                            <div class="col-sm-4">
                                <p><b>Ride Rating:</b> {{data.ride.rating}}</p>
                            </div>
                            <div class="col-sm-4">
                                <p><b>Ride Feedback:</b> {{data.ride.feedback}}</p>
                            </div>
                            <div class="col-sm-12">
                                <p><b>Ride Cancelled Reason:</b> {{data.ride.cancelled_reason}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #completeRide let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Ride Cancellation</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="completeRideForm" (ngSubmit)="completeRideSubmit()">
            <div class="row">
                <div class="col-sm-12">
                    <p class="form-group">
                      <label for="feedback">Driver Feedback </label>
                      <textarea class="form-control" type="text" name="feedback" formControlName="feedback"></textarea>
                    </p>
                </div>
                <input type="hidden" class="form-control" name="status" formControlName="status" [(ngModel)]="completedstatus">
                <input type="hidden" class="form-control" name="ride_id" formControlName="ride_id" [(ngModel)]="ride_id">
            </div>
            <p class="text-center">
              <button type="submit" class="btn btn-primary">Submit</button>
            </p>
        </form>
    </div>
</ng-template>
<ng-template #cancelRide let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Ride Cancellation</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="cancelRideForm" (ngSubmit)="cancelRideSubmit()">
            <div class="row">
                <div class="col-sm-12">
                    <p class="form-group">
                      <label for="cancelled_reason">Reason For Cancellation </label>
                      <textarea class="form-control" type="text" name="cancelled_reason" formControlName="cancelled_reason"></textarea>
                    </p>
                </div>
                <input type="hidden" class="form-control" name="status" formControlName="status" [(ngModel)]="cancelledstatus">
                <input type="hidden" class="form-control" name="ride_id" formControlName="ride_id" [(ngModel)]="ride_id">
            </div>
            <p class="text-center">
              <button type="submit" class="btn btn-primary">Submit</button>
            </p>
        </form>
    </div>
</ng-template>
<ng-template #openPickup let-modal>
    <div class="row">
        <div class="col-sm-3" *ngFor="let data of pickupImgList">
            <a href="https://nodeadminpaneldb.herokuapp.com/api/rideCarImg?imgpath=uploads/ride/pickup/{{data.img_path}}" target="_blank"><img src="https://nodeadminpaneldb.herokuapp.com/api/rideCarImg?imgpath=uploads/ride/pickup/{{data.img_path}}" alt="" width="100%" style="padding: 20px;"></a>
            <!-- <a href="http://localhost:8080/api/rideCarImg?imgpath=uploads/ride/pickup/{{data.img_path}}" target="_blank"><img src="http://localhost:8080/api/rideCarImg?imgpath=uploads/ride/pickup/{{data.img_path}}" alt="" width="100%" style="padding: 20px;"></a> -->
        </div>
        <hr>
    </div>
</ng-template>
<ng-template #openDrop let-modal>
    <div class="row">
        <div class="col-sm-4" *ngFor="let data of dropImgList">
           <a href="https://nodeadminpaneldb.herokuapp.com/api/rideCarImg?imgpath=uploads/ride/drop/{{data.img_path}}" target="_blank"><img src="https://nodeadminpaneldb.herokuapp.com/api/rideCarImg?imgpath=uploads/ride/drop/{{data.img_path}}" alt="" width="100%" style="padding: 20px;"></a>
           <!-- <a href="http://localhost:8080/api/rideCarImg?imgpath=uploads/ride/drop/{{data.img_path}}" target="_blank"><img src="http://localhost:8080/api/rideCarImg?imgpath=uploads/ride/drop/{{data.img_path}}" alt="" width="100%" style="padding: 20px;"></a> -->
        </div>
        <hr>
    </div>
</ng-template>

<ng-template #openAccidentalImg let-modal>
    <div class="row">
        <div class="col-sm-4" *ngFor="let data of accidentImgList">
           <a href="https://nodeadminpaneldb.herokuapp.com/api/rideCarImg?imgpath=uploads/accident/img/{{data.path}}" target="_blank"><img src="https://nodeadminpaneldb.herokuapp.com/api/rideCarImg?imgpath=uploads/accident/img/{{data.path}}" alt="" width="100%" style="padding: 20px;"></a>
           <!-- <a href="http://localhost:8080/api/rideCarImg?imgpath=uploads/accident/img/{{data.path}}" target="_blank"><img src="http://localhost:8080/api/rideCarImg?imgpath=uploads/accident/img/{{data.path}}" alt="" width="100%" style="padding: 20px;"></a> -->
        </div>
        <hr>
    </div>
</ng-template>

<ng-template #openAccidentalVideo let-modal>
    <div class="row">
        <div class="col-sm-6" *ngFor="let data of accidentVideoList">
            <a href="https://nodeadminpaneldb.herokuapp.com/api/rideCarImg?imgpath=uploads/accident/video/{{data.path}}" target="_blank">
                <video src="https://nodeadminpaneldb.herokuapp.com/api/rideCarImg?imgpath=uploads/accident/video/{{data.path}}"  style="padding: 20px;"></video>
            </a>
            <!-- <a href="http://localhost:8080/api/rideCarImg?imgpath=uploads/accident/video/{{data.path}}" target="_blank">
                 <video src="http://localhost:8080/api/rideCarImg?imgpath=uploads/accident/video/{{data.path}}" width="100%"  style="padding: 20px;"></video>
             </a> -->
        </div>
        <hr>
    </div>
</ng-template>