<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Enrolled Partner</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Enrolled Partner</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-8">
                        <h3>Partner List</h3>
                    </div>
                    <div class="col-sm-4 text-right">
                        <button class="btn btn-sm btn-primary" (click)="openAddPartnerModal(addPartner)">Add Partner</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <tabset>
                            <tab heading="Partner Not Uploaded Documents" (selectTab)="getPartner(1)">
                                <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" datatable [dtOptions]="dtOptions" #table>
                                    <thead>
                                        <tr>
                                            <th>PartnerId</th>
                                            <th>Partner Type</th>
                                            <th>Company Name</th>
                                            <th>CIN / LLP</th>
                                            <th>Phone Number</th>
                                            <th>Email</th>
                                            <th>GST Number</th>
                                            <th>Username</th>
                                            <th>Password</th>
                                            <th>Registered On</th>
                                            <th>Last Updated</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="partnerData.length > 0">
                                        <tr *ngFor="let data of partnerData" (click)="openUploadDocPage(data.partner_id)">
                                            <td>{{data.partner_id}}</td>
                                            <td>{{data.partner_type}}</td>
                                            <td>{{data.company_name}}</td>
                                            <td>{{data.company_no}}</td>
                                            <td>{{data.phone}}</td>
                                            <td>{{data.email}}</td>
                                            <td>{{data.gst_no}}</td>
                                            <td>{{data.username}}</td>
                                            <td>{{data.password}}</td>
                                            <td>{{data.created_on | date:'dd-MM-yyyy hh:mm:ss'}}</td>
                                            <td>{{data.updated_on | date:'dd-MM-yyyy hh:mm:ss'}}</td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="partnerData.length == 0">
                                        <tr>
                                            <td class="text-center" colspan="10">No Data Found</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </tab>
                            <tab heading="Partner Uploaded Documents" (selectTab)="getPartner(2)">
                                <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" datatable [dtOptions]="dtOptions">
                                    <thead>
                                        <tr>
                                            <th>PartnerId</th>
                                            <th>Partner Type</th>
                                            <th>Company Name</th>
                                            <th>CIN / LLP</th>
                                            <th>Phone Number</th>
                                            <th>Email</th>
                                            <th>GST Number</th>
                                            <th>Username</th>
                                            <th>Password</th>
                                            <th>Register On</th>
                                            <th>No. Of Docs Uploaded</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="partnerData.length > 0">
                                        <tr *ngFor="let data of partnerData" (click)="openApprovePartnerPage(data.partner_id)">
                                            <td>{{data.partner_id}}</td>
                                            <td>{{data.partner_type}}</td>
                                            <td>{{data.company_name}}</td>
                                            <td>{{data.company_no}}</td>
                                            <td>{{data.phone}}</td>
                                            <td>{{data.email}}</td>
                                            <td>{{data.gst_no}}</td>
                                            <td>{{data.username}}</td>
                                            <td>{{data.password}}</td>
                                            <td>{{data.created_on | date:'dd-MM-yyyy hh:mm:ss'}}</td>
                                           <td>2</td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="partnerData.length == 0">
                                        <tr>
                                            <td class="text-center" colspan="10">No Data Found</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </tab>
                            <tab heading="Partner Active" (selectTab)="getPartner(3)">
                                <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" datatable [dtOptions]="dtOptions">
                                    <thead>
                                        <tr>
                                            <th>PartnerId</th>
                                            <th>Partner Type</th>
                                            <th>Company Name</th>
                                            <th>CIN / LLP</th>
                                            <th>Phone Number</th>
                                            <th>Email</th>
                                            <th>GST Number</th>
                                            <th>Username</th>
                                            <th>Password</th>
                                            <th>Register On</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="partnerData.length > 0">
                                        <tr *ngFor="let data of partnerData" (click)="openApprovePartnerPage(data.partner_id)">
                                            <td>{{data.partner_id}}</td>
                                            <td>{{data.partner_type}}</td>
                                            <td>{{data.company_name}}</td>
                                            <td>{{data.company_no}}</td>
                                            <td>{{data.phone}}</td>
                                            <td>{{data.email}}</td>
                                            <td>{{data.gst_no}}</td>
                                            <td>{{data.username}}</td>
                                            <td>{{data.password}}</td>
                                            <td>{{data.created_on | date:'dd-MM-yyyy hh:mm:ss'}}</td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="partnerData.length == 0">
                                        <tr>
                                            <td class="text-center" colspan="10">No Data Found</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #addPartner let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Partner</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="partnerForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-6">
                    <p class="form-group">
                        <label for="partner_type">Partner Type </label>
                        <select class="form-control" name="partner_type" formControlName="partner_type">
                            <option value="B2B">B2B</option>
                            <option value="B2C">B2C</option>
                        </select>
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="form-group">
                      <label for="firstname">Company Name </label>
                      <input class="form-control" type="text" name="company_name" formControlName="company_name">
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="form-group">
                      <label for="firstname">CIN / LLP </label>
                      <input class="form-control" type="text" name="company_no" formControlName="company_no">
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="form-group">
                      <label for="email">Email </label>
                      <input class="form-control" type="text" name="email" formControlName="email">
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="form-group">
                      <label for="phone">Phone No </label>
                      <input class="form-control" type="text" name="phone" formControlName="phone">
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="form-group">
                      <label for="firstname">GST Number </label>
                      <input class="form-control" type="text" name="gst_no" formControlName="gst_no">
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="form-group">
                      <label for="state">State </label>
                      <select class="form-control" name="state" formControlName="state">
                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                        <option value="Assam">Assam</option>
                        <option value="Bihar">Bihar</option>
                        <option value="Chandigarh">Chandigarh</option>
                        <option value="Chhattisgarh">Chhattisgarh</option>
                        <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                        <option value="Daman and Diu">Daman and Diu</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Lakshadweep">Lakshadweep</option>
                        <option value="Puducherry">Puducherry</option>
                        <option value="Goa">Goa</option>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Haryana">Haryana</option>
                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                        <option value="Jharkhand">Jharkhand</option>
                        <option value="Karnataka">Karnataka</option>
                        <option value="Kerala">Kerala</option>
                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Manipur">Manipur</option>
                        <option value="Meghalaya">Meghalaya</option>
                        <option value="Mizoram">Mizoram</option>
                        <option value="Nagaland">Nagaland</option>
                        <option value="Odisha">Odisha</option>
                        <option value="Punjab">Punjab</option>
                        <option value="Rajasthan">Rajasthan</option>
                        <option value="Sikkim">Sikkim</option>
                        <option value="Tamil Nadu">Tamil Nadu</option>
                        <option value="Telangana">Telangana</option>
                        <option value="Tripura">Tripura</option>
                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                        <option value="Uttarakhand">Uttarakhand</option>
                        <option value="West Bengal">West Bengal</option>
                      </select>
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="form-group">
                      <label for="city">City </label>
                      <input class="form-control" type="text" name="city" formControlName="city">
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="form-group">
                      <label for="pincode">Pincode </label>
                      <input class="form-control" type="text" name="pincode" formControlName="pincode">
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="form-group">
                      <label for="bank_name">Bank Name </label>
                      <input class="form-control" type="text" name="bank_name" formControlName="bank_name">
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="form-group">
                      <label for="acc_holder_name">Accouny Holder Name </label>
                      <input class="form-control" type="text" name="acc_holder_name" formControlName="acc_holder_name">
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="form-group">
                      <label for="acc_no">Account Number </label>
                      <input class="form-control" type="text" name="acc_no" formControlName="acc_no">
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="form-group">
                      <label for="ifsc_code">IFSC Code </label>
                      <input class="form-control" type="text" name="ifsc_code" formControlName="ifsc_code">
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="form-group">
                      <label for="micr_code">MICR Code </label>
                      <input class="form-control" type="text" name="micr_code" formControlName="micr_code">
                    </p>
                </div>
                <div class="col-sm-12">
                    <p class="form-group">
                      <label for="address">Address </label>
                      <textarea class="form-control" formControlName="address" name="address"></textarea>
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="form-group">
                      <label for="username">Username </label>
                      <input class="form-control" type="text" name="username" formControlName="username">
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="form-group">
                      <label for="password">Password </label>
                      <input class="form-control" type="text" name="password" formControlName="password">
                    </p>
                </div>
            </div>
            <p class="text-center">
              <button type="submit" class="btn btn-primary">Submit</button>
            </p>
           
        </form>
    </div>
</ng-template>