<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Ongoing Rides</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Ongoing Rides</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-8">
                        <h3>Ride List</h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" datatable [dtOptions]="dtOptions">
                            <thead>
                                <tr>
                                    <th>Ride Id</th>
                                    <th>Driver Name</th>
                                    <th>User Name</th>
                                    <th>User Phone Number</th>
                                    <th>Pickup</th>
                                    <th>Drop</th>
                                    <th>Pickup Time</th>
                                    <th>Drop Time</th>
                                    <th>Vehicle Type</th>
                                    <th>Status</th>
                                    <th>Rating</th>
                                    <th>Feedback Comment</th>
                                    <th>Feedback Reason</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>