<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Deactive Partner</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Deactive Partner</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="col-sm-12 text-right">
                    <button class="btn-sm btn-primary" (click)="exportAsXLSX()">Excel Download</button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" #table>
                            <thead>
                                <tr>
                                    <th>Partner Id</th>
                                    <th>Partner Type</th>
                                    <th>Partner Name</th>
                                    <th>Phone Number</th>
                                    <th>Email Id</th>
                                    <th>Registered On</th>
                                    <th>Last Updated</th>
                                    <th>No. Of Docs Uploaded</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="partnerData.length > 0">
                                <tr *ngFor="let data of partnerData" (click)="openPartnerDetailsPage(data.partner_id)">
                                   <td>{{data.partner_id}}</td>
                                   <td>{{data.partner_type}}</td>
                                   <td>{{data.company_name}}</td>
                                   <td>{{data.phone}}</td>
                                   <td>{{data.email}}</td>
                                   <td>{{data.created_on | date:'dd-MM-yyyy hh:mm:ss'}}</td>
                                   <td>{{data.updated_on | date:'dd-MM-yyyy hh:mm:ss'}}</td>
                                   <td>6</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="partnerData.length == 0">
                                <tr>
                                    <td class="text-center" colspan="7">No Data Found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>